/* .sectFive
{
    position: relative;
    
} */

.main-container
{
    display: flex;
    flex-wrap: wrap;
}

.sectFive h1 {
    text-align: center;
    font-size: 42px;
}

.sectFive img {
    filter: gray;
    height: 300px;
    width: 300px;
    -webkit-filter: grayscale(100%);
    padding-right: 30px;
    right: 20%;
    top: 0px; 
}

.sectFive img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.team-container 
{
    display: flex;
    position: relative;
    float: left;
}

.text-block
{
    position: absolute;
    text-align: center;
    background-color: #11111180;
    /* background-color: blue; */
    color: white;
    z-index: 1000;
    bottom: 10px;
    width: 300px;
    height: 75px;
}

.teamtext
{
    margin: 10px 0px 10px 0px;
}